CLOUDFLARE_ACCOUNT_ID=account-id
CLOUDFLARE_API_TOKEN=api-token
CLOUDFLARE_MODEL=model-id

# --------------------------------------------------------------
# MODEL ID Examples
# --------------------------------------------------------------
# @cf/google/gemma-4-26b-a4b-it
